<div class="text-center">
  <div class="form-signin">
    <h1>Payment Failed</h1>
    <% if user_signed_in? %>
      <a href="/">Home</a>
      <br/ >
      <br />
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% end %>
  </div>
  </div>
</div>
