<div class="form-signin">
  <h2>Make Payment</h2>
  <%= form_tag charges_path, method: 'post', id: 'payment-form' do %>
      <span class="payment-errors"></span>
      <div class="container">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <div class="field">
              <label>
                <input type="text" class="card-fields" data-stripe="number" placeholder="Card Number"/>
              </label>
            </div>
            <div class="field">
              <label>
                <input type="text" class="card-fields" data-stripe="cvc" placeholder="CVC"/>
              </label>
            </div>
            <div class="field">
              <label>
                <input type="text" size="2" data-stripe="exp-month" class="card-fields-date" placeholder="MM"/>
              </label>
              <input type="text" size="4" data-stripe="exp-year" class="card-fields-date" placeholder="YYYY"/>
            </div>
            <div class="field">
              <label>
                <input type="text" name="amount" class="card-fields" placeholder="Amount"/>
              </label>
            </div>
            <div class="field">
              <label>
                <input type="text" name="account_no" class="card-fields" placeholder="Account ID"/>
              </label>
            </div>
            <div class="actions">
              <button type="submit">Submit Payment</button>
            </div>
          <% end %>
          <br />
          <br />
          <% if user_signed_in? %>
          <a href="/">Home</a>
          <br/ >
          <br />
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>